@import '_vars';
@import '_queries';

body { 
    background: $bg-main no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    font-family: $font-style; 
}

h2 {
    color: $white;
    font-size: 4em;
}

.hidden {
    display: none;
}

ul li a {
    color: $white;
}

.container {
    background-color: $bg-black;
}

a.nav-link {
    margin-left: 8em;
    margin-bottom: 1em;
}

a {
    color: $main-colour;
}

a:hover {
    text-decoration: none;
    color: $black;
}
hr {
    background-color: $white;
    margin-top: 2em;
}

/***************************/
/********ABOUT US***********/
/***************************/

#about-us p {
    margin: 1em 1em 2em 1em;
    color: $white;
}

#about-us ul li {
    display: inline;
}

.box {
    width: 250px;
    height: 250px;
    background-color: $white;
    border-radius: 60%;
}

.social-media-links {
    margin: 1em;
}

.social-media-links ul li a{
    display: inline;
}

#joanna {
    margin-left: 60px;
    margin-bottom: 1em;
}

#logan {
    margin-left: 60px;
    margin-bottom: 1em;
}

.team-picture img{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    clear: both;
}

/***************************/
/******ABOUT US END*********/
/***************************/

/***************************/
/***********VIDEO***********/
/***************************/

#video-section {
    background-color: $bg-white;
}

#vidText {
    color: $white;
}

/***************************/
/*********VIDEO END*********/
/***************************/

#modalBox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: 0 auto;
    background: transparent;
    width: 90%;
    max-width: 1200px;
}

#modal-img img {
    width: 350px;
}

#exit {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  #exit:hover,
  #exit:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

.caption-container {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    color: white;
    width: 500px;
}

.caption-container p {
    font-size: 1em;
}

button {
    border: 1;
    background: none;
    box-shadow: none;
    border-radius: 10px;
    padding: .75em;
}


button:hover {
    border: 1;
    background: $white;
    box-shadow: none;
    border-radius: 10px;
    padding: .75em;
}

.filterBtn.active {
    background-color: #666;
     color: white;
  }

.portfolioImages img {
    margin: 1em;
    border:2px solid $main-colour;
    pointer: cursor;
}

/***************************/
/*******OUR WORK END********/
/***************************/


/***************************/
/*******CONTACT US********/
/***************************/

.contactus {
    width: 350px;
    height: 50px;
    background-color: transparent;
    color: $white;
    border: thick 1.8px;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
}

#contact {
    color: $white;
}

label {
    color: $white;
}

/***************************/
/*******CONTACT US END******/
/***************************/


/***************************/
/**********FOOTER***********/
/***************************/

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 998;
    text-align: center;
    line-height: 20px;
    background: $white;
    color: $black;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

#backToTop:hover {
    background-color: $main-colour;
}

/***************************/
/********FOOTER END*********/
/***************************/

@media (min-width: 768px) { /*TABLET SIZE*/
    p {
        padding: 1em;
        font-size: 1.2em;
        line-height: 2em;
    }
    nav a img {
        margin-left: 80px;
    }

    a.nav-link {
        margin: 0;
        float: left;
    }

    #modal-img img {
        width: 500px;
        margin-left: 200px;
    }

    #vidText {
        margin-top: 3em;
    }

    #joanna {
        margin-left: 40px;
    }
    
    #logan {
        margin-left: 40px;
    }
  }

  @media (min-width: 992px) { 

    #modal-img img {
        width: 550px;
        margin-left: 350px;
    }

    #joanna {
        margin-left: 60px;
    }
    
    #logan {
        margin-left: 60px;
    }

    div#navbarSupportedContent {
        margin-left: 300px;
        font-size: 1.2em;
    }

    a.nav-link {
        margin-left: 1em;
    }


  } /*LARGE SIZE*/