@import '_vars';
@import '_queries';

body { 
    background-color: $secondary-colour;
}

h2 {
    color: $white;
}

.hidden {
    display: none;
}

ul li a {
    color: $white;
}


/***************************/
/********ABOUT US***********/
/***************************/

#about-section {
    background-color: $black;
}

#about-section p {
    margin: 1em;
    color: $white;
}

#about-section ul li {
    display: inline;
}

.box {
    width: 250px;
    height: 250px;
    background-color: $white;
    border-radius: 60%;
}

.social-media-links {
    margin: 2em;
}

.social-media-links ul li a{
    display: inline;
}
/***************************/
/******ABOUT US END*********/
/***************************/

.team-picture img {
    border-radius: 50%;
}

/***************************/
/*********OUR WORK**********/
/***************************/
button {
    border: 1;
    background: none;
    box-shadow: none;
    border-radius: 10px;
    padding: .75em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button:hover {
    border: 1;
    background: $white;
    box-shadow: none;
    border-radius: 10px;
    padding: .75em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/***************************/
/*******OUR WORK END********/
/***************************/

/***************************/
/**********FOOTER***********/
/***************************/

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

/***************************/
/********FOOTER END*********/
/***************************/